body {
    background-color: rgb(2, 0, 36);
    background-image: url(Netflix.jpg);
    background-repeat: repeat;
    color: antiquewhite;
}

.navigation {
    display:flex;
    box-sizing: border-box;
    color: rgb(245, 239, 239);
    align-items: center;  
}

.navigation a { 
    padding-left:px;
}

.nagivation img {
    padding-left: 200px;
}

.Tab.navbar {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    padding: 24px;
    background-color: transparent;
    z-index: 500;
}
.Container{
    justify-content: center;
}

.image-container{
    display: flex;
    flex-direction: row;
    justify-content: right;
}

.Main-Text {
    position: relative;
    border-bottom: 8px ;
    padding: 50px;
    margin-bottom: 0;
    background: 0;
    color: #fff;
}

.Header {
    background-color: transparent;
    position: relative;
    max-width: 1920px;
    margin: auto;

}

.button {
    background-color: red;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 8px 1750px;
    cursor: pointer;
    width: 50px;
    height: 20px;
  }

  .Textbox {
    display: flex;
    flex-direction: column;
    align-items: center;
}





.font {
    font-family: 'Courier New', Courier, monospace;
}